/bebop.pyc

.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.aarons-macbook-pro_132228/FP.local.files_0/node.properties

.metadata/.plugins/org.eclipse.rse.ui/.log

.metadata/.plugins/org.eclipse.rse.core/.log

.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup

*.properties

*.log

*.xml

*.json

*.gen

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm

*.prefs

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1

*.lock

*.fdx

*.frq

*.fnm

*.fdt

*.tis

*.tii

*.xmi

*.resources

*.zip

*.nrm

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.ser

*.mark

.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt

*.ini
